img {
    border-radius: 100px;
}

h2 {
    font-size: 20px;
}

body {
    background-color: rgb(141, 102, 233);
    font-family: system-ui;
    color: black;
    text-align: center;
    margin: 150px;
}

a {
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display:block ;
    text-align: center;
    margin-bottom: 15px;
    color: rgb(141, 102, 233);   
}